<?xml version="1.0"?>
<launch>

	<arg name="model" default="$(find vehicle_platform)/config/lexus_model.urdf"/>
	<arg name="rvizconfig" default="$(find vehicle_platform)/config/lexus_model_urdf.rviz" />
	
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="lexus_model"/>
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

</launch>

