<launch>
    <group ns="lidar_center">
        <remap from="velodyne_points" to="points_raw" />

        <include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch">
            <arg name="frame_id" value="lidar_center" />
            <arg name="device_ip" value="192.168.1.201" />
            <arg name="min_range" value="2.2" />
            <arg name="port" value="2368" />
            <arg name="gps_time" value="false" />
        </include>
    </group>
</launch>
