<launch>
    <arg name="encoder" default="jpg" doc="{jpg, h264, h265, vp9}"/>
    <arg name="uncompress" default="false" doc="uncompress images"/>
    <arg name="rectify" default="false" doc="rectify images"/>
    <arg name="use_remote_driver" default="true" doc="Start the driver. Can be set to false to work with bags."/>

    <include file="$(find vehicle_platform)/launch/drivers/nvidia_cameras_driver.launch">
        <arg name="encoder" value="$(arg encoder)" />
        <arg name="uncompress" value="$(arg uncompress)" />
        <arg name="rectify" value="$(arg rectify)" />
        <arg name="use_remote_driver" default="$(arg use_remote_driver)" />
    </include>
</launch>
