<launch>
    <include file="$(find delphi_esr)/launch/delphi_esr.launch" ns="radar_fc">
        <arg name="esr_frame_id" value="radar_fc" />
        <arg name="viz_mature_tracks_only" value="true" />
        <arg name="use_kvaser" value="true" />
        <arg name="kvaser_hardware_id" value="10761" />
        <arg name="kvaser_circuit_id" value="1" />
    </include>
</launch>
