<robot name="vehicle_platform">
  <!-- Frames -->
  <link name="base_link" />
  <link name="lidar" />
  <link name="lidar_front" />
  <link name="radar_fc" />
  <link name="imu" />

  <!-- Sensor Transforms -->

  <!-- Lidar -->
  <joint name="lidar" type="fixed" >
    <parent link="base_link" />
    <child link="lidar" />
    <origin xyz="1.02 0 1.78734" rpy="0 0 0.017" />
  </joint>

  <!-- Lidar Front -->
  <joint name="lidar_front" type="fixed" >
    <parent link="base_link" />
    <child link="lidar_front" />
    <origin xyz="1.97 0 1.3753" rpy="-0.011 0.204 -0.037" />
  </joint>

  <!-- Front Center Radar -->
  <joint name="radar_fc" type="fixed" >
    <parent link="base_link" />
    <child link="radar_fc" />
    <origin xyz="4 0 0.07" rpy="0 0 0" />
  </joint>

 <!-- Imu -->
  <joint name="imu" type="fixed" >
    <parent link="base_link" />
    <child link="imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
