<robot name="vehicle_platform">
  <!-- Frames -->
  <link name="base_link" />
  <link name="lidar_center" />
  <link name="lidar_front/os_sensor" />
  <link name="radar_fc" />
  <link name="imu" />
  <link name="lidar" />
  <link name="camera_fr" />
  <link name="camera_fl" />
  <link name="interfacea_link0" />
  <link name="interfacea_link1" />
  <link name="interfacea_link2" />
  <link name="interfacea_link3" />
  <link name="ground_zero" />

  <!-- Sensor Transforms -->


   <!-- Ground zero testing-->
   <joint name="ground_zero" type="fixed" >
    <parent link="base_link" />
    <child link="ground_zero" />
    <origin xyz="0 0 -0.3" rpy="0 0 0" />
  </joint>

  <!-- Lidar_center -->
  <joint name="lidar_center" type="fixed" >
    <parent link="base_link" />
    <child link="lidar_center" />
    <origin xyz="1.02 0 1.78734" rpy="0 0 -0.0459" />
  </joint>

  <!-- Lidar -->
  <joint name="lidar" type="fixed" >
    <parent link="lidar_center" />
    <child link="lidar" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Lidar Front -->
  <joint name="lidar_front/os_sensor" type="fixed" >
    <parent link="lidar_center" />
    <child link="lidar_front/os_sensor" />
    <origin xyz="0.84979 0.06501 -0.28092" rpy="0.0119 0.003 0.86855"/>
  </joint>

  <!-- Front Center Radar -->
  <joint name="radar_fc" type="fixed" >
    <parent link="base_link" />
    <child link="radar_fc" />
    <origin xyz="4 0 0.07" rpy="0 0 0" />
  </joint>

 <!-- Imu -->
  <joint name="imu" type="fixed" >
    <parent link="base_link" />
    <child link="imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

    <!-- Mako Cameras -->
  <joint name="camera_fr" type="fixed" >
    <parent link="lidar_center" />
    <child link="camera_fr" />
    <origin xyz="1.130 -0.174 -0.689" rpy="-1.36404 -0.00223 -1.78766" />
  </joint>

  <joint name="camera_fl" type="fixed" >
    <parent link="lidar_center" />
    <child link="camera_fl" />
    <origin xyz="1.009 0.278 -0.689" rpy="-1.40103 -0.00669 -1.41965" />
  </joint> 

  <!-- Nvidia Cameras -->
  <joint name="interfacea_link0" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link0" />
    <origin xyz="0.8225 0.5925 -0.412" rpy="-1.594 0.042 -1.4638" />
  </joint>

  <joint name="interfacea_link1" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link1" />
    <origin xyz="0.8776 -0.5095 -0.412" rpy="-1.564 0.008 -1.52" />
  </joint>

  <joint name="interfacea_link2" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link2" />
    <origin xyz="0.91965 -0.1074 -0.412" rpy="-1.602 0.022 -1.544" />
  </joint>

  <joint name="interfacea_link3" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link3" />
    <origin xyz="0.9045 0.1956 -0.4120" rpy="-1.589 -0.003 -1.533" />
  </joint>

</robot>
