<launch>
  <arg name="use_lidar_center" default="true"/>
  <arg name="use_lidar_front" default="true"/>
  <arg name="use_camera_fl" default="true"/>
  <arg name="use_camera_fr" default="true"/>
  <arg name="use_gps" default="true"/>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find vehicle_platform)/config/analyzers.yaml" />
  </node>

  <node pkg="vehicle_platform" type="heartbeat_notif.py" name="heartbeat_notif">
    <param name="use_lidar_center" value="$(arg use_lidar_center)" />
    <param name="use_lidar_front" value="$(arg use_lidar_front)" />
    <param name="use_cameras" value="$(eval use_camera_fl and use_camera_fr)" />
    <param name="use_gps" value="$(arg use_gps)" />
  </node>
</launch>
