<launch>
    <arg name="sensor_hostname" default="" doc="hostname or IP in dotted decimal form of the sensor"/>
    <arg name="udp_dest" default="" doc="hostname or IP where the sensor will send data packets"/>
    <arg name="lidar_port" default="0" doc="port to which the sensor should send lidar data"/>
    <arg name="imu_port" default="0" doc="port to which the sensor should send imu data"/>
    <arg name="replay" default="false" doc="do not connect to a sensor; expect /os_node/{lidar,imu}_packets from replay"/>
    <arg name="lidar_mode" default="" doc="resolution and rate: either 512x10, 512x20, 1024x10, 1024x20, or 2048x10"/>
    <arg name="timestamp_mode" default="" doc="method used to timestamp measurements: TIME_FROM_INTERNAL_OSC, TIME_FROM_SYNC_PULSE_IN, TIME_FROM_PTP_1588"/>
    <arg name="metadata" default="" doc="override default metadata file for replays"/>
    <arg name="image" default="false" doc="publish range/intensity/ambient image topic"/>
    <arg name="tf_prefix" default="" doc="namespace for tf transforms"/>
    <arg name="use_ros_time" default="" doc="Skip timestamp from sensor and use ROS instead"/>
    <arg name="use_diagnostics" default="true" doc="Start the diagnostics node to publish the ROS diagnostics"/>
    <arg name="range_img_max" default="120.0" doc="The largest distance still seen on the range image"/>

    <node pkg="ouster_ros" name="os_node" type="os_node" output="screen" required="true">
        <remap from="~/os_config"       to="os_config"/>
        <remap from="~/lidar_packets"   to="lidar_packets"/>
        <remap from="~/imu_packets"     to="imu_packets"/>
        <param name="~/lidar_mode"      type="string" value="$(arg lidar_mode)"/>
        <param name="~/timestamp_mode"  type="string" value="$(arg timestamp_mode)"/>
        <param name="~/replay"          value="$(arg replay)"/>
        <param name="~/sensor_hostname" value="$(arg sensor_hostname)"/>
        <param name="~/udp_dest"        value="$(arg udp_dest)"/>
        <param name="~/lidar_port"      value="$(arg lidar_port)"/>
        <param name="~/imu_port"        value="$(arg imu_port)"/>
        <param name="~/metadata"        value="$(arg metadata)"/>
    </node>

    <node pkg="ouster_ros" type="os_cloud_node" name="os_cloud_node" output="screen" required="true">
        <remap from="~/os_config"       to="os_config"/>
        <remap from="~/lidar_packets"   to="lidar_packets"/>
        <remap from="~/imu"             to="imu"/>
        <remap from="~/points"          to="points_raw"/>
        <remap from="~/imu_packets"     to="imu_packets"/>
        <param name="~/tf_prefix"       value="$(arg tf_prefix)"/>
        <param name="~/use_ros_time" value="$(arg use_ros_time)"/>
    </node>

    <node if="$(arg image)" pkg="ouster_ros" name="img_node" type="img_node" output="screen" required="true">
        <remap from="~/os_config"       to="os_config"/>
        <remap from="~/ambient_image"   to="ambient_image"/>
        <remap from="~/range_image"     to="range_image"/>
        <remap from="~/intensity_image" to="intensity_image"/>
        <remap from="~/points"          to="points_raw"/>
        <param name="range_img_max"     value="$(arg range_img_max)"/>
    </node>

    <node if="$(arg use_diagnostics)" pkg="ouster_ros" type="diagnostics_node" name="diagnostics_node" >
        <param name="~/sensor_hostname" value="$(arg sensor_hostname)"/>
    </node>
</launch>
