<?xml version="1.0"?>
<launch>
  <!-- Args to enable each sensor -->
  <arg name="use_lidar_center" default="false" />
  <arg name="use_lidar_front" default="false" />
  <arg name="use_lidar_front_image" default="false" />
  <arg name="use_camera_fl" default="false" />
  <arg name="use_camera_fr" default="false" />
  <arg name="acquisition_rate" default="10" />
  <arg name="use_radar_fc" default="false" />
  <arg name="use_gnss" default="false" />
  <arg name="use_dbw" default="false" />
  <arg name="use_ssc" default="false" />
  <arg name="use_tf" default="false" />
  <arg name="use_nvidia_cameras" default="false" /> 
  <arg name="rectify" default="false" /> 

  <!-- LIDAR front - Ouster -->
  <include if="$(arg use_lidar_front)" file="$(find vehicle_platform)/launch/sensors/lidar_front.launch">
    <arg name="image" value="$(arg use_lidar_front_image)" />
  </include>

  <!-- LIDAR center - Velodyne -->
  <include if="$(arg use_lidar_center)" file="$(find vehicle_platform)/launch/sensors/lidar_center.launch" />

  <!-- CAMERAS -->
  <!-- Front Left Camera -->
  <include if="$(arg use_camera_fl)" file="$(find vehicle_platform)/launch/sensors/camera_fl.launch">
    <arg name="acquisition_rate" value="$(arg acquisition_rate)" />
    <arg name="rectify" value="$(arg rectify)" />
  </include>

  <!-- Front Right Camera -->
  <include if="$(arg use_camera_fr)" file="$(find vehicle_platform)/launch/sensors/camera_fr.launch">
    <arg name="acquisition_rate" value="$(arg acquisition_rate)" />
    <arg name="rectify" value="$(arg rectify)" />
  </include>

  <!-- RADARS -->
  <!-- Front Center ESR  -->
  <include if="$(arg use_radar_fc)" file="$(find vehicle_platform)/launch/sensors/radar_fc.launch" />

  <!-- GNSS -->
  <include if="$(arg use_gnss)" file="$(find vehicle_platform)/launch/sensors/gnss.launch" />

  <!-- DRIVE BY WIRE -->
  <include if="$(arg use_dbw)" file="$(find vehicle_platform)/launch/sensors/dbw.launch" />

  <!-- SSC -->
  <include if="$(arg use_ssc)" file="$(find vehicle_platform)/launch/sensors/ssc.launch" />

  <!-- TRANSFORMS -->
  <include if="$(arg use_tf)" file="$(find vehicle_platform)/launch/sensors/tf.launch" />

  <!-- REMOTE NVIDIA CAMERAS -->
  <include if="$(arg use_nvidia_cameras)" file="$(find vehicle_platform)/launch/sensors/nvidia_cameras.launch">
    <arg name="rectify" value="$(arg rectify)" />
  </include>

</launch>
