<launch>
  <!-- Args to enable each sensor -->
  <arg name="use_lidar" default="false" />
  <arg name="lidar_min_dist" default="0.4" />
  <arg name="use_camera_fl" default="false" />
  <arg name="use_camera_fr" default="false" />
  <arg name="use_radar_fc" default="false" />
  <arg name="use_gps" default="false" />
  <arg name="use_dbw" default="false" />
  <arg name="use_ssc" default="false" />
  <arg name="use_tf" default="false" />

  <!-- LIDAR -->
  <include if="$(arg use_lidar)" file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch">
    <arg name="frame_id" value="lidar" />
    <arg name="device_ip" value="192.168.1.201" />
    <arg name="min_range" value="$(arg lidar_min_dist)" />
  </include>

  <!-- CAMERAS -->
  <!-- Front Left Camera -->
  <include if="$(arg use_camera_fl)" file="$(find vehicle_platform)/launch/avt_vimba_camera.launch">
    <arg name="name" value="camera_fl" />
    <arg name="frame_id" value="camera_fl" />
    <arg name="ip" value="192.168.20.1" />
    <arg name="acquisition_rate" value="20" />
  </include>

  <!-- Front Right Camera -->
  <include if="$(arg use_camera_fr)" file="$(find vehicle_platform)/launch/avt_vimba_camera.launch">
    <arg name="name" value="camera_fr" />
    <arg name="frame_id" value="camera_fr" />
    <arg name="ip" value="192.168.10.1" />
    <arg name="acquisition_rate" value="20" />
  </include>

  <!-- RADARS -->
  <!-- Front Center ESR  -->
  <include if="$(arg use_radar_fc)" file="$(find delphi_esr)/launch/delphi_esr.launch" ns="radar_fc">
    <arg name="esr_frame_id" value="radar_fc" />
    <arg name="viz_mature_tracks_only" value="true" />
    <arg name="use_kvaser" value="true" />
    <arg name="kvaser_hardware_id" value="10761" />
    <arg name="kvaser_circuit_id" value="1" />
  </include>

  <!-- GPS -->
  <include if="$(arg use_gps)" file="$(find vehicle_platform)/launch/novatel_gps_driver.launch">
    <arg name="ip" value="192.168.100.150" />
    <arg name="port" value="2000" />
    <arg name="imu_rate" value="100" />
  </include>

  <!-- DRIVE BY WIRE -->
  <include if="$(arg use_dbw)" file="$(find pacmod3)/launch/pacmod3.launch" ns="pacmod">
    <arg name="pacmod_vehicle_type" value="LEXUS_RX_450H" />
    <arg name="use_kvaser" value="true" />
    <arg name="kvaser_hardware_id" value="10761" />
    <arg name="kvaser_circuit_id" value="0" />
  </include>

  <!-- SSC -->
  <include if="$(arg use_ssc)" file="$(find ssc_pm_lexus)/launch/speed_steering_control.launch" />

  <!-- TRANSFORMS -->
  <node if="$(arg use_tf)" pkg="robot_state_publisher" type="robot_state_publisher" name="vehicle_platform_frames">
    <remap from="robot_description" to="vehicle_platform_frames/robot_description" />
    <param name="robot_description" textfile="$(find vehicle_platform)/config/platform.urdf" />
  </node>
</launch>
