<?xml version="1.0"?>
<launch>
  <include file="$(find vehicle_platform)/launch/novatel_gps_driver.launch">
    <arg name="ip" value="192.168.100.150" />
    <arg name="port" value="2000" />
    <arg name="imu_rate" value="100" />
    <arg name="driver_name" value="novatel" />
  </include>

  <include file="$(find pacmod3)/launch/pacmod3.launch" ns="pacmod">
    <arg name="pacmod_vehicle_type" value="LEXUS_RX_450H" />
    <arg name="use_kvaser" value="true" />
    <arg name="kvaser_hardware_id" value="10761" />
    <arg name="kvaser_circuit_id" value="0" />
  </include>

  <include file="$(find vehicle_platform)/launch/nvidia_cameras.launch"/>

  <node pkg="joy" type="joy_node" name="joy" />
</launch>
